ion-content {
  --ion-background-color: #f4f5f8;
}

form {
  margin-bottom: 20px;
}

ion-card {
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  ion-card-header {
    background: var(--ion-color-primary);
    color: white;
    
    ion-card-title {
      font-size: 1.2rem;
    }
  }
}

ion-button {
  margin-top: 20px;
}

ion-item {
  margin-bottom: 15px;
  --border-radius: 8px;
  --background: white;
  --highlight-height: 0;
  
  ion-input {
    --padding-top: 12px;
    --padding-bottom: 12px;
  }
}